{% load staticfiles %}
{% load mathfilters %}
<link rel="stylesheet" type="text/css" href="{% static 'projects/style.css' %}" >
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

{% block header %}
    <header>
        <div class="link-container">
            <ul class="link-list">
                <div class="links left">
                    <li><a href="" class="header-link">Home</a></li>
                </div>
                <div class="links right">
                    <li><a href="" class="header-link">Resume</a></li>
                    <li><a href="" class="header-link">Contact Me</a></li>
                    <li><a href="" class="header-link">Projects</a></li>
                </div>
            </ul>
        </div>
    </header>
{% endblock %}


{% block projects %}
<div class="project-container">
{% for project in projects.all %}
    {% if  %}
    <div class="project-slate count-{{ forloop.counter|sub:1 }} row-{{ forloop.counter|sub:1|intdiv:3 }}">
        <h3 class="project-title">{{ project.title }}</h3>
        <img class="project-image" src="{{ project.image.url }}" />
        <p class="project-description">{{ project.description }}</p>
        {% if project.link is not None %}
        <p class="project-link"><a href="">{{ project.link }}</a></p>
        {% endif %}
    </div>
{% endfor %}
</div>
{% endblock %}

<script type="text/javascript" src="{% static 'projects/script.js' %}" ></script>

